{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": { "semi": ["warn", "always"], 
    "quotes": ["warn", "double"], 
    "eqeqeq": "error",
    "no-unused-vars": "off",
    "camelcase": ["error", {
      "properties": "always"
    }]
  }
}
